@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Calendar CSS */
.rbc-toolbar button{
    color: white !important;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active{
    background-color: black !important;
}

.rbc-off-range-bg {
    background: black !important;
}

.rbc-today {
    background-color: #698091 !important;
}

html{
    scroll-behavior: smooth;
}